USE [master]
GO
/****** Object:  Database [LibreriaDB]    Script Date: 26/05/2026 19:01:46 ******/
CREATE DATABASE [LibreriaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibreriaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibreriaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibreriaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibreriaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibreriaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibreriaDB]
GO
/****** Object:  User [javier_api]    Script Date: 26/05/2026 19:01:48 ******/
CREATE USER [javier_api] FOR LOGIN [javier_api] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [javier_api]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/05/2026 19:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 26/05/2026 19:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [nvarchar](20) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[autor] [nvarchar](100) NULL,
	[editorial] [nvarchar](100) NULL,
	[formato] [nvarchar](50) NULL,
	[edicion] [nvarchar](50) NULL,
	[precio] [decimal](10, 2) NULL,
	[imagenUrl] [nvarchar](max) NULL,
	[stock] [int] NULL,
	[sinopsis] [nvarchar](max) NULL,
	[Disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoItems]    Script Date: 26/05/2026 19:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[LibroId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 26/05/2026 19:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/05/2026 19:01:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260223113119_AddUsuarios', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260526151217_AddDisponibleToLibro', N'6.0.36')
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([id], [isbn], [titulo], [autor], [editorial], [formato], [edicion], [precio], [imagenUrl], [stock], [sinopsis], [Disponible]) VALUES (114, N'9780393312836', N'La naranja mecánica', N'Anthony Burgess', N'Penguin', N'Tapa blanda', N'Edición bolsillo', CAST(13.80 AS Decimal(10, 2)), N'https://covers.openlibrary.org/b/isbn/9780393312836-L.jpg', 17, N'La violenta juventud de Alex y su banda, explorando la libertad, el control social y la rehabilitación a través de un futuro distópico.', 1)
INSERT [dbo].[Libros] ([id], [isbn], [titulo], [autor], [editorial], [formato], [edicion], [precio], [imagenUrl], [stock], [sinopsis], [Disponible]) VALUES (115, N'9780316769174', N'El guardián entre el centeno', N'J.D. Salinger', N'Little Brown', N'Tapa blanda', N'Edición moderna', CAST(17.00 AS Decimal(10, 2)), N'https://covers.openlibrary.org/b/isbn/9780316769174-L.jpg', 10, N'Holden Caulfield narra sus días de desconexión y rebeldía en Nueva York, explorando la alienación y la pérdida de la inocencia.', 1)
INSERT [dbo].[Libros] ([id], [isbn], [titulo], [autor], [editorial], [formato], [edicion], [precio], [imagenUrl], [stock], [sinopsis], [Disponible]) VALUES (116, N'9780312278670', N'El lobo estepario', N'Hermann Hesse', N'Penguin', N'Tapa blanda', N'Edición bolsillo', CAST(14.50 AS Decimal(10, 2)), N'https://covers.openlibrary.org/b/isbn/9780312278670-L.jpg', 15, N'Harry Haller lucha con su dualidad interna: hombre civilizado y lobo solitario, en una búsqueda de sentido y autenticidad.', 1)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[PedidoItems] ON 

INSERT [dbo].[PedidoItems] ([Id], [PedidoId], [LibroId], [Cantidad], [PrecioUnitario]) VALUES (3, 5, 122, 1, CAST(29.99 AS Decimal(10, 2)))
INSERT [dbo].[PedidoItems] ([Id], [PedidoId], [LibroId], [Cantidad], [PrecioUnitario]) VALUES (4, 6, 117, 1, CAST(19.95 AS Decimal(10, 2)))
INSERT [dbo].[PedidoItems] ([Id], [PedidoId], [LibroId], [Cantidad], [PrecioUnitario]) VALUES (5, 6, 118, 1, CAST(18.90 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PedidoItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([Id], [UsuarioId], [FechaPedido], [Total], [Estado]) VALUES (5, 1, CAST(N'2026-02-25T12:02:25.130' AS DateTime), CAST(29.99 AS Decimal(10, 2)), N'Cancelado')
INSERT [dbo].[Pedidos] ([Id], [UsuarioId], [FechaPedido], [Total], [Estado]) VALUES (6, 2, CAST(N'2026-02-25T13:42:00.477' AS DateTime), CAST(38.85 AS Decimal(10, 2)), N'Completado')
INSERT [dbo].[Pedidos] ([Id], [UsuarioId], [FechaPedido], [Total], [Estado]) VALUES (7, 2, CAST(N'2026-02-25T16:43:39.787' AS DateTime), CAST(53.35 AS Decimal(10, 2)), N'Pendiente')
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Username], [Email], [PasswordHash], [Role]) VALUES (1, N'javiespino', N'jespinot05@gmail.com', N'$2a$11$2SxaKYV8NSdPyf5VvovYnuIIyTFvYfBMi3UYgES1Q5F9IJz0kdCZy', N'admin')
INSERT [dbo].[Usuarios] ([Id], [Username], [Email], [PasswordHash], [Role]) VALUES (2, N'user', N'user@gmail.com', N'$2a$11$3MW2xJu4yakoZmhfU3/bbeL0YF6bYvE.QY5/KulbMjNWp9BKyWMoq', N'user')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Libros__99F9D0A4E5411B30]    Script Date: 26/05/2026 19:01:49 ******/
ALTER TABLE [dbo].[Libros] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email]    Script Date: 26/05/2026 19:01:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Email] ON [dbo].[Usuarios]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Username]    Script Date: 26/05/2026 19:01:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Username] ON [dbo].[Usuarios]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Disponible]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('Completado') FOR [Estado]
GO
ALTER TABLE [dbo].[PedidoItems]  WITH CHECK ADD FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libros] ([id])
GO
ALTER TABLE [dbo].[PedidoItems]  WITH CHECK ADD FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
USE [master]
GO
